@import 'baseConfig.css';


/* Heading  About*/
.heading {
    font-size: 5rem;
    text-transform: uppercase;
    color: var(--heading-color);
    text-align: center;
    margin-bottom: 2rem;
}
.about-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.about-data span {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--main-color);
}
.about-data h2 {
    font-size: 2rem;
    line-height: 2.6rem;
    font-weight: 700;
    margin: 1rem 0;
}
.btn {
    font-size: 0.9rem;
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    color: var(--bg-color);
    background: var(--main-color);
    padding: 12px 16px;
    border-radius: 0.4rem;
    margin-top: 1rem;
}
.btn .bx {
    font-size: 1.2rem;
}
.btn:hover {
    background: #546eff;
    transition: .3s all linear;
}

.aobut-text p {
    font-size: 0.9;
    letter-spacing: 1px;
    text-align: justify;
    margin-bottom: 1.5rem;
}


/* Services */

.services-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}
.services-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background: var(--container-color);
    border-radius: 0.4rem;
    transition: .5s all cubic-bezier(0.075,0.82, 0.165, 1);
}
.services-box:hover {
    transform: scale(1.05);
    transition: .5s all cubic-bezier(0.075,0.82, 0.165, 1);
}
.services-box .bx {
    font-size: 3rem;
    padding: 10px;
}

.services-box .bxl-html5 {
    color: orange;
}
.services-box .bxl-css3 {
    color: rgb(118, 118, 229);
}
.services-box .bxl-javascript {
    color: yellow;
}
.services-box .bxl-typescript {
    color: rgb(37, 98, 168);
}
.services-box .bxl-react {
    color: rgb(16, 123, 159);
}
.services-box .bxl-nodejs {
    color: green;
}




.services-box h2 {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0.5rem 0;
    color: #eee;
}
.services-box p {
    font-size: 0.9rem;

}

